@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital@0;1&family=Bowlby+One&family=Frank+Ruhl+Libre:wght@400;700&family=MuseoModerno:wght@900&display=swap');

/* 
h2:
font-family: 'Averia Sans Libre', cursive;  
h1:
font-family: 'Bowlby One', cursive;
font-family: 'MuseoModerno', cursive; 
h3, p: 
font-family: 'Frank Ruhl Libre', serif;
*/

:root {
  font-size: 16px;
  font-family: 'Frank Ruhl Libre', serif;
  --white: hsl(45, 23%, 95%);
}

html {
  overflow-x: hidden;
  background: var(--white);
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 32vw;
  border: 5px solid black;
}

.logo {
  /* --logo-font-size: 7rem;  */
  --logo-font-size: max(4rem, 8vw);
  --text-height: calc(var(--logo-font-size) * 1.25);
  --height: calc(var(--text-height) + 3rem);
  position: absolute;
  top: calc(50% + 5px);
  transform: translateY(-50%);

  border: 5px solid black;
  border-left: none;
  padding: 7% 4% 4% 4%;
  z-index: 2;
  background: linear-gradient(to bottom right, hsl(0, 100%, 75%), hsl(0, 100%, 65%));

}

.logo h3 {
  font-family: 'Bowlby One', serif;
  text-align: right;
  letter-spacing: .5rem;
  font-size: calc(var(--logo-font-size) / 4)
}

h1 {
  font-family: 'Bowlby One', serif;
  font-size: var(--logo-font-size);
  line-height: calc(var(--logo-font-size) / 1.6);
}

h2 {
  font-family: 'Averia Sans Libre', cursive;  
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  font-weight: 700;
}

p {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
}

.nav, .hours, .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  width: 100%;
  position: relative;
  text-align: right;
}

.info, .message {
  right: min(10vw, 2rem);
  position: absolute;
  width: 45%;
}

.beans {
  background-image: url(mike-kenneally-TD4DBagg2wE-unsplash.jpg);
  background-size: contain;
  border-top: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  z-index: 1;
}

.beans .hours {
  visibility: hidden;
}

main {
  position: absolute;
}

.about {
  width: 33%;
  padding: 1rem;
  border: 5px solid black;
  border-top: none;
}

.visible {
  display: flex;
}

.images {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  width: 67%;
}

.images img {
  aspect-ratio: 1/1;
  width: 50%;
  object-fit: cover;
  margin: 0 25% 25% 25%; 
}

.images img:first-child {
  margin: 25%;
}

.info, .beans {
  height: 50%;
}

.secret {
  position: absolute;
  right: 5px;
  top: 0;
}

.pane {
  background: linear-gradient(to bottom right, hsla(0, 100%, 60%, 0.6), hsla(0, 100%, 50%, 0.7));
  color: transparent;
  border-top: 10px solid hsla(0, 100%, 100%, .9);
  border-left: 10px solid hsla(0, 100%, 90%, .9);
  border-bottom: 10px solid hsla(0, 100%, 30%, 0.9);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  overflow: hidden;
  width: 73vw;
  transform: translate(calc(73vw +  5px));
  transition: 3s ease-in-out;
  height: 44vw;
  margin-top: 8%;
}

.pane:first-child {
  margin-top: 15%;
}

.show {
  transform: none;
}

.opaque {
  color: black;
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

@keyframes fade-out {
  0% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

@media(max-width: 720px) {
  
  header {
    height: 60vw;
  }
  .hours {
    position:absolute;
    bottom: 0;
  }
  .beans {
    background-size:cover;
    height: 70%;
  }



  .nav {
    visibility: hidden;
  }

  .logo {
    top: calc(30% + 5px);
    --logo-font-size: clamp(2rem, 12vw, 4rem);
    
  }

  .info  .hours {
    visibility: hidden;
  }

  .beans .hours {
    visibility: visible;
    color: var(--white);
    text-align: right;
    justify-content: end;
  }

  .hours p {
    font-size: 1rem;
  }
}